# Any directory starting with a dot
**/\.*/
# Except .github
!.github/

# Misc
**/.DS_Store

**/node_modules
/test-results/
/playwright-report/
/playwright/.cache/

**/auth.json
**/auth.backup.json

# Photos + data folder
local/photos/*.*
!local/photos/.gitkeep

local/data/*.*
!local/data/.gitkeep
!local/data/.env.example.js

local/screenshots/*.*
!local/screenshots/.gitkeep

**/*.log